<div class="container">
  @if(!isHome()){
  <app-property-slide></app-property-slide>
  }
  <!-- Cabeçalho da Página -->
  <header class="list-header">
    <div class="header-main">
      <div class="title-group" style="display: none;">
        <h1 style="margin-bottom: 10px;" class="color-text">Catálogo de Imóveis</h1>
        <p>Consulte e gira as propriedades disponíveis no sistema.</p>
      </div>

      <!-- Botão de Cadastro (Visível apenas em Desktop) -->
      <button mat-flat-button color="primary" class="desktop-add-btn" (click)="irParaCadastro()">
        <mat-icon>add</mat-icon>
        NOVO IMÓVEL
      </button>
    </div>
  </header>

  <!-- Grelha de Imóveis -->
  @if(loadDetails){
  <mat-progress-bar class="progress-bar-details-load" mode="indeterminate"></mat-progress-bar>
  }

  <div class="property-grid">
    @for (item of propertyService.properties(); track item.id) {
    <mat-card class="property-card" appearance="outlined" (click)="verDetalhes(item.id)">
      <!-- Imagem e Badge de Estado -->
      <div class="card-image-wrapper">
        @for (imagens of item.imagesUrl; track imagens.id) {
          <img mat-card-image [src]="imagens.imagesUrl" [alt]="item.title">
        }
        <span class="status-badge"
          [class]="item.status === 'Pronto' ? 'rent' : item.status === 'Lançamento'?'':'rent2'">
          {{ item.status }}
        </span>
        @if (item.isPromo) {
        <div class="promo-ribbon">
          <span>PREÇO PROMOCIONAL</span>
        </div>
        }
      </div>

      <!-- Conteúdo do Cartão -->
      <mat-card-content>
        <div class="price-row">
          <h2 class="price">{{ item.price | currency:'BRL':'symbol':'1.0-0' }}</h2>
          @for (category of item.category; track category) {
          <div class="spec-item">
            <span class="category">
              {{ category }}
            </span>
          </div>
          }
          <button mat-icon-button [style.color]="item.favorite ? 'red' : null" [color]="item.favorite ? null : 'accent'"
            (click)="item.favorite = !item.favorite" (click)="saveFavorite(item.id,item.favorite)" aria-label="Favorito"
            [matTooltip]="item.favorite ? 'Remover dos favoritos' : 'Guardar nos favoritos'">

            <mat-icon>
              {{ item.favorite ? 'favorite' : 'favorite_border' }}
            </mat-icon>

          </button>
        </div>

        <h3 class="title">{{ item.title }}
          <mat-chip-set>
            <mat-chip class="date-chip">Entrega: {{ item.date | date: 'MM/yyyy' }}</mat-chip>
          </mat-chip-set>
        </h3>
        <p class="location">
          <mat-icon>place</mat-icon>
          {{ item.location }}
        </p>

        <!-- Especificações Técnicas -->
        <div class="specs">
          @if(item?.specs?.bedrooms){
          <div class="spec-item">
            <mat-icon>bed</mat-icon>
            <span>{{ item?.specs?.bedrooms }}</span>
          </div>
          }
          @if(item?.specs?.suits){
          <div class="spec-item">
            <mat-icon>bathtub</mat-icon>
          </div>
          }
          @if(item?.specs?.bathrooms){
          <div class="spec-item">
            <mat-icon>shower</mat-icon>
          </div>
          }
          @if(item?.specs?.garden){
          <div class="spec-item">
            <mat-icon>grass</mat-icon>
          </div>
          }
          @if(item?.specs?.balcony){
          <div class="spec-item">
            <mat-icon>balcony</mat-icon>
          </div>
          }
          @if(item?.specs?.parking){
          <div class="spec-item">
            <mat-icon>directions_car</mat-icon>
          </div>
          }
          @if( item?.specs?.pool ){
          <div class="spec-item">
            <mat-icon>pool</mat-icon>
          </div>
          }
          @if( item?.specs?.area ){
          <div class="spec-item">
            <mat-icon>square_foot</mat-icon>
            <span>{{ item?.specs?.area }}m²</span>
          </div>
          }
        </div>
      </mat-card-content>

      <!-- Ações do Cartão -->
      <mat-card-actions align="end">
        <button mat-flat-button color="primary" (click)="registrarInteresse(item.title)">
          TENHO INTERESSE
        </button>
      </mat-card-actions>
    </mat-card>
    } @empty {
    <!-- Estado Vazio Amigável -->
    <div class="empty-state shadow-sm">
      <div class="empty-icon-container">
        <mat-icon>home_work</mat-icon>
      </div>
      <h2>Ainda não existem imóveis registados</h2>
      <p>Comece a sua jornada adicionando o seu primeiro imóvel ao catálogo.</p>
      <button mat-raised-button color="primary" (click)="irParaCadastro()">
        CADASTRAR MEU PRIMEIRO IMÓVEL
      </button>
    </div>
    }
  </div>

  <!-- Botão Flutuante (FAB) - Apenas para Mobile -->
  <button mat-fab color="primary" class="mobile-fab" (click)="irParaCadastro()" matTooltip="Cadastrar Novo Imóvel">
    <mat-icon>add</mat-icon>
  </button>
</div>