<div class="container">
    <header class="list-header">
        <div class="header-main">
            <div class="title-group">
                <h1 class="color-text-inver">Lista de leads quentes</h1>
                <p class="color-text-inver">Oferta ativa</p>
            </div>
        </div>
    </header>

    <mat-accordion multi class="config-accordion">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> Configurações de Envio </mat-panel-title>
                <mat-panel-description>
                    Parâmetros de automação
                    @if (!iniciado) {
                    <mat-icon class="color-text">play_arrow</mat-icon>

                    }@else{
                    <mat-icon class="color-text">pause_arrow</mat-icon>
                    <mat-icon class="color-text">stop_arrow</mat-icon>
                    }
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="example-headers-align">
                <mat-form-field appearance="outline">
                    <mat-label>coluna nome</mat-label>
                    <input matInput type="number" [formControl]="colunaNome" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>coluna contato</mat-label>
                    <input matInput type="number" [formControl]="colunaContato" />
                </mat-form-field>
            </div>
            <div class="example-headers-align">
                <mat-form-field appearance="outline">
                    <mat-label>Intervalo (segundos)</mat-label>
                    <input matInput type="number" [formControl]="intervalo" min="5" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mensagens pré-definidas</mat-label>
                    <mat-select [formControl]="mensagens" (selectionChange)="onMensagemSelecionada($event.value)">
                        <mat-select-trigger>
                            <span class="example-additional-selection">
                                {{ mensagens.value?.substring(0, 25) }}...
                            </span>
                        </mat-select-trigger>

                        @for (item of mensagemList; track item; let index = $index) {
                        <mat-option [value]="item" class="option-with-action">
                            <!-- Botão de exclusão da mensagem -->
                            <button matIconButton type="button" class="btn-excluir" matTooltip="Excluir mensagem"
                                (click)="removerMensagem($event, index, item)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <span class="option-text">{{ item }}</span>
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Mensagem para envio</mat-label>
                    <textarea matInput [formControl]="mensagem" rows="2"></textarea>
                </mat-form-field>

                <a matIconButton class="btn-add" (click)="addMensagem()" matTooltip="Adicionar a lista">
                    <mat-icon>add</mat-icon>
                </a>

                <a matIconButton class="btn-play" class="auto-btn" (click)="autoEnvio()"
                    matTooltip="Iniciar Envio Automático">
                    <mat-icon>play_arrow</mat-icon>
                </a>
            </div>
            <!-- Input HTML nativo fica escondido -->
            <div appearance="outline">
                <mat-label>Carregar arquivo .csv</mat-label>
                <input type="file" #fileInput (change)="onFileSelected($event)" accept=".csv, .xlsx, .pdf"
                    style="display: none" matTooltip="Carregar arquivo .csv" />
            </div>

            <!-- Botão estilizado do Angular Material que aciona o input oculto -->
            <button matIconButton (click)="fileInput.click()">
                <mat-icon>upload_file</mat-icon>
            </button>
            <!-- Exibição do nome e tamanho do arquivo selecionado -->
            @if (selectedFile) {
            <mat-icon color="accent">description</mat-icon>
            <span>{{ selectedFile.name }} ({{ (selectedFile.size / 1024).toFixed(1) }} KB)</span>
            }
        </mat-expansion-panel>
    </mat-accordion>

    <div class="table-responsive-wrapper">
        <table mat-table [dataSource]="dataSource" class="responsive-card-table">

            @for (col of columns; track col.key) {
            <ng-container [matColumnDef]="col.key">
                <th mat-header-cell *matHeaderCellDef class="title-table"> {{ col.label }} </th>

                <td mat-cell *matCellDef="let element" [attr.data-label]="col.label">
                    @switch (col.key) {

                    @case ('nome') {
                    <div class="lead-profile">
                        <div class="avatar" [class.avatar-enviado]="element.enviado">
                            {{ element.nome.charAt(0) }}
                        </div>
                        <div class="lead-info">
                            <span class="lead-name">{{ element.nome }}</span>
                            @if (element.enviado) {
                            <span class="status-badge">Contato Realizado</span>
                            }
                        </div>
                    </div>
                    }

                    @case ('acoes') {
                    <div class="action-buttons">
                        <button mat-icon-button class="whatsapp-button" [disabled]="element.enviado"
                            (click)="chamarAgora(element)"
                            [matTooltip]="element.enviado ? 'Já foi contactado' : 'Chamar no WhatsApp'">
                            <mat-icon>{{ element.enviado ? 'check' : 'chat' }}</mat-icon>
                        </button>
                    </div>
                    }

                    @default {
                    {{ element[col.key] }}
                    }
                    }
                </td>
            </ng-container>
            }

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- Aplica a classe CSS 'lead-enviado' dinamicamente se o lead tiver sido utilizado -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="lead-row"
                [class.lead-enviado]="row.enviado"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell no-data" [attr.colspan]="displayedColumns.length">
                    Nenhum lead encontrado.
                </td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Selecione a página de leads">
        </mat-paginator>
    </div>
</div>