<div class="app-shell">
  <!-- Navegação Superior (Desktop) -->
  <img src="{{imageBackgroundUrl}}" alt="" srcset=""
    style="display: flexbox;position: absolute;width: 100%;height: 46%;z-index: -1;filter: brightness(0.5);object-fit: cover;">

  <mat-toolbar class="top-nav mat-elevation-z0"
    style="padding: 40px; width: 100%; height: 10px;background: transparent">
    <div class="toolbar-container">
      <div class="brand" routerLink="/">
        <img src="../assets/logo.png" alt="Logo" class="logo-img">
        <span class="logo-text" [routerLink]="['/']" style="cursor:pointer;">na planta</span>
      </div>

      <span class="spacer"></span>

      <div class="desktop-menu">
        @for (item of menuItems(); track item.path) {
        <a mat-button [routerLink]="item.path" routerLinkActive="active-link" class="nav-link" style="color:white">
          <mat-icon class="nav-link">{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </a>
        }
        <button mat-flat-button color="accent">Falar com Consultor</button>
      </div>
    </div>
  </mat-toolbar>
  <!-- Conteúdo das Páginas com Animação -->
  <main class="main-content" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>

  <a href="{{whatsappUrl}}" class="whatsapp-button" target="_blank">
    <i class="fa fa-whatsapp"></i>
  </a>

  <!-- Navegação Inferior (Mobile) -->
  <nav class="bottom-nav">
    @for (item of menuItems(); track item.path) {
    <a [routerLink]="item.path" routerLinkActive="active-mobile" matRipple class="mobile-nav-item">
      <mat-icon>{{ item.icon }}</mat-icon>
      <!--span>{{ item.label }}</span-->
    </a>
    }
  </nav>
</div>