<div class="details-container">
    <!-- Botão Voltar -->
    <button mat-icon-button (click)="voltar()" class="back-btn">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <div class="content-grid">
        <!-- Coluna Esquerda: Galeria Principal -->
        <section class="gallery-section">
            <div class="main-image-container shadow-lg" (click)="openImage()">
                <img [src]="selectedImage()" alt="Imagem principal do imóvel" loading="eager" fetchpriority="high"
                    decoding="async">
            </div>

            <div class="thumbnails">
                @for (img of property()?.imagesPlantsUrl; track img) {
                <div class="thumb" [class.active]="selectedImage() === img" (click)="changeImage(img)">
                    <img [src]="img" alt="Thumbnail">
                </div>
                }
            </div>
        </section>

        <!-- Coluna Direita: Informações e Compra -->
        <section class="info-section">
            <div class="header">
                <mat-chip-set>
                    @for(category of property()?.category; track category) {
                    <mat-chip class="type-chip">{{category}}</mat-chip>
                    }
                    <mat-chip class="location-chip">
                        {{ property()?.date | date: 'MM' }}/{{ property()?.date | date: 'yyyy' }}
                    </mat-chip>
                </mat-chip-set>
                <h1>{{ property()?.title }}</h1>
                <p class="subtitle">{{ property()?.subtitle }}</p>
                <p class="address"><mat-icon>place</mat-icon> {{ property()?.location }}</p>
            </div>

            <div class="price-box shadow-sm">
                <div class="main-price">
                    <span class="label">Valor de Venda</span>
                    <h2>{{ property()?.price | currency:'BRL' }}</h2>
                </div>
                <div class="fees">
                    @if(property()?.isPromo){
                    <p>Valor Promocional: <strong>{{ property()?.price_promo | currency:'BRL' }}</strong></p>
                    }
                    <!-- <p>IPTU: <strong>{{ property().iptu | currency:'BRL' }}</strong></p> -->
                </div>
            </div>

            <div class="quick-specs">
                @if( property()?.specs?.area ){
                <div class="spec">
                    <mat-icon>square_foot</mat-icon>
                    <span>{{ property()?.specs?.area }}m²</span>
                </div>
                }
                @if(property()?.specs?.bedrooms){
                <div class="spec">
                    <mat-icon>bed</mat-icon>
                    <span>{{ property()?.specs?.bedrooms }} Dorm.</span>
                </div>
                }
                @if(property()?.specs?.suits){
                <div class="spec">
                    <mat-icon>bathtub</mat-icon>
                    <span>{{ property()?.specs?.suits }} Suite</span>
                </div>
                }
                @if(property()?.specs?.bathrooms){
                <div class="spec">
                    <mat-icon>shower</mat-icon>
                    <span>{{ property()?.specs?.bathrooms }} Banheiro</span>
                </div>
                }
                @if(property()?.specs?.garden){
                <div class="spec">
                    <mat-icon>grass</mat-icon>
                    <span>Garden</span>
                </div>
                }
                @if(property()?.specs?.balcony){
                <div class="spec">
                    <mat-icon>balcony</mat-icon>
                    <span>Varanda</span>
                </div>
                }
                @if(property()?.specs?.parking){
                <div class="spec">
                    <mat-icon>directions_car</mat-icon>
                    <span>{{ property()?.specs?.parking }} Vaga</span>
                </div>
                }
            </div>

            <mat-divider></mat-divider>

            <div class="description">
                <h3>Sobre o imóvel</h3>
                <p>{{ property()?.description }}</p>
            </div>

            <div class="actions-group">
                <button mat-flat-button color="primary" class="cta-btn">
                    <mat-icon>paid</mat-icon> COMPRE AGORA
                </button>
                <button mat-stroked-button color="primary" class="cta-btn">
                    <mat-icon>calendar_month</mat-icon> AGENDAR VISITA
                </button>
            </div>
        </section>
    </div>

    <!-- Abas Inferiores: Lazer e Diferenciais -->
    <section class="extra-info">
        <mat-tab-group dynamicHeight>
            <mat-tab label="Diferenciais">
                <div class="tab-content">
                    <ul class="feature-list">
                        @for (f of property()?.features; track f) {
                        <li><mat-icon color="primary">check_circle</mat-icon> {{ f }}</li>
                        }
                    </ul>
                </div>
            </mat-tab>
            <mat-tab label="Lazer e Áreas Comuns">
                <div class="tab-content">
                    <div class="amenities-grid">
                        @for (a of property()?.amenities; track a) {
                        <div class="amenity-item">
                            <mat-icon>star_border</mat-icon>
                            <span>{{ a }}</span>
                        </div>
                        }
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </section>
</div>